*{
  margin: 0 0;
}
#menu{
  background-color: black; 
  
}
#menu ul{
  text-align: center;
  padding: 10px ;   
}
#menu ul li{
  display: inline-block;
  padding: 12px 30px;
 position: relative;
}
#menu ul li a{
  text-decoration: none;
  color: aliceblue;
  margin-top: 0px; 
}
#menu ul li a:hover{
  background-color: cyan;
  color: red;
}
#menu ul ul{
  position: absolute;
  display: none;
  left: 0;
  top: 40px;
  background-color: blue;
  width: 100px;
text-align: center;
padding-left: 2px 2px;
z-index: 99;
}


#menu ul ul li{
  display: block;
}
#menu ul li:hover ul{
  display: block;
}

#menu ul li:hover a{
  background-color: cyan;
  color: red;
}
#menu ul li:hover li a{
  background: none;
}
#menu ul ul li a:hover{
  background: yellow;
}
