@media screen and (max-width:600px) {
  *{
    margin: 0;
    padding: 0;
  }
  #navbar{
    width: 98%;
    margin: 10px auto;
  }

  .navImage{
    display: flex;
  }
  .navImage img{
    margin: auto 0;
    width: 40px;
    height: 40px;
  }
  
  .navImage h1{
    font-size: 20px;
    margin: auto 0px;
    margin-left: 15px;
  }

  nav{
    display: none;
  }
  #bar{
    display: block;
    z-index: 333;
  }
  #bar:hover #ul2{
    left: auto;
    right: 0;
    top: 30px; 
    z-index: -2;
  }

  #ul2{
    flex-direction: column;
    position: absolute;
    left: -500px;
    right: auto;
    top: 0;
    background-color: lightcyan;
    align-items: center;
    border-radius: 5px;
    
    
  }
  #ul2 a:hover{
    text-decoration: underline;
    color: palevioletred;
    transition: 1s;
  }

    /* main */

    #banner-section{  
      height: auto; 
      width: 90%;
      margin: 0 auto;
      position: relative;
      background-color: black;
      border-radius: 20px;
    }
    #banner-section::before{
      content: '';
      background-image: url(Group\ 13\ \(1\)\ \(1\).png);
      background-size: 600px 500px;
      background-repeat: no-repeat;
    
    }
    #banner-section h1{
       padding-top: 10px;
       font-size: 30px;
    }
    
    #banner-section p{
      font-size: 15px;
      width: 100%;
      text-align: center;
    }

    .from{
      width: 90%;
      background-color: aliceblue;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr;
    }

    input{
      margin: 10px ;
    }
     .date , .type{
      margin: 10px ;
    }

    button{ margin: 10px;
    }
    #section2{
      flex-direction: column;
    }
    .text-div{
      width: 100%;
    }
    .image{
      width: 100%;
    }

    .image img{
      width: 100%;
    }

    .flex-div3,
    .flex-div2,
    .flex-div1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;

    }
    .inside-image{
      position: relative;
      top: -250px;
      left: 40px;
    }
    
    .inside-imageee{
      position: relative;
      top: -250px;
      left: 40px;
    }

    .why-part-flex{
      display: flex;
      flex-direction: column;
    }

    .flex1,
    .flex2,
    .flex3{
      width: 90%;
      margin: 10px auto;
      height: 350px;
    }

    .section-why-us{
      width: 90%;
      margin: 0 auto;
      border: 1px solid silver;
      border-radius: 5px;
    }
  }
@media screen and (min-width:601px) and (max-width:1000px) {
  nav{
    display: none;
  }
  #bar{
    display: block;
    z-index: 333;
  }
  #bar:hover #ul2{
    left: auto;
    right: -0px;
    top: 30px; 
    z-index: -2;
  }

  #ul2{
    flex-direction: column;
    position: absolute;
    left: -500px;
    right: auto;
    top: 0;
    background-color: lightcyan;
    align-items: center;
    border-radius: 5px;
    
    
  }
  #ul2 a:hover{
    text-decoration: underline;
    color: palevioletred;
  } 
   
     /* main */

     #banner-section{  
      height: auto; 
      width: 90%;
      margin: 0 auto;
      position: relative;
    }
    #banner-section::before{
      content: '';
      background-image: url(Group\ 13\ \(1\)\ \(1\).png);
      background-size: cover;
      background-repeat: no-repeat;
    
    }
    #banner-section h1{
       padding-top: 10px;
       font-size: 30px;
    }
    
    #banner-section p{
      font-size: 15px;
      width: 100%;
      text-align: center;
    }

    .from{
      width: 90%;
      background-color: aliceblue;
      margin: 20px auto;
      padding: 20px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr;
    }

    input{
      margin: 10px ;
    }
     .date , .type{
      margin: 10px ;
    }

    button{ margin: 10px;
    }
    
    #section2{
      flex-direction: column;
    }
    .text-div{
      width: 100%;
    }
    .image{
      width: 100%;
    }

    .image img{
      width: 100%;
    }

    .flex-div3,
    .flex-div2,
    .flex-div1{
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 0 auto;

    }
    .inside-image{
      position: relative;
      top: -250px;
      left: 80px;
    }
    
    .inside-imageee{
      position: relative;
      top: -250px;
      left: 80px;
    }
    .why-part-flex{
      display: flex;
      flex-direction: column;
    }

    
    .flex1,
    .flex2,
    .flex3{
      width: 90%;
      margin: 10px auto;
      height: 350px;
    }

    .section-why-us{
      width: 90%;
      margin: 0 auto;
      border: 1px solid silver;
      border-radius: 5px;
    }
}